$red-1:   #af0c1e;
$red-2:   #ff112d;
$red-3:   #ff7595;
$blue-1:  #120caf;
$blue-2:  #1f52ff;
$blue-3:  #5ca6ff;
$green-1: #056606;
$green-2: #05b606;
$green-3: #13fa6e;
$black-1: #222222;
$black-2: #444444;
$black-3: #777777;

@mixin titlebar_style($color1, $color2) {
  -fx-background-color: $color1, linear-gradient($color2 10%, $color1 30%, $color2 100%);
  -fx-border-color: $color1;
}

@mixin internal_window_style($color1, $color2, $color3) {
  @include titlebar_style($color2, $color3);

  & .internal-window-titlebar {
    @include titlebar_style($color2, $color3);
  }

  & .taskbar-icon-button .ikonli-font-icon,
  & .window-0 .internal-window-titlebar-button .ikonli-font-icon {
    -fx-icon-color: $color2;
  }

  &:active {
    @include titlebar_style($color1, $color2);

    & .internal-window-titlebar {
      @include titlebar_style($color1, $color2);
    }

    & .internal-window-titlebar-button .ikonli-font-icon {
      -fx-icon-color: $color1;
    }
  }
}

.taskbar-icon .label,
.internal-window .internal-window-titlebar-title {
  -fx-text-fill: white;
}

.taskbar-icon {
  @include titlebar_style($black-2, $black-3);
  -fx-border-radius: 6;
}

.internal-window {
  @include internal_window_style($black-1, $black-2, $black-3);
}

.window-0 {
  @include internal_window_style($blue-1, $blue-2, $blue-3);
}

.window-1 {
  @include internal_window_style($green-1, $green-2, $green-3);
}

.window-2 {
  @include internal_window_style($red-1, $red-2, $red-3);
}